{% extends "layout.html" %}

{% block header %}
    <div class="topnav">
            <a href="/">Home</a>
            <a href="/all">All post</a>
            <a href="/write">Write Post</a>
            <a class="active" href="/login">Login</a>
            <a href="/about">About</a>
    </div>
{% endblock header %}

{% block content %}
<h3>Log In</h3>
    <div> 
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
    <a href="/register">Register</a>
{% endblock content %}
